<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Source Sans Pro, sans-serif;
  font-size: 25pt;
  font-weight: bold;
}

.project-title {
  font-size: 10pt;
  padding: 10px;
  margin-top: 50px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #FF272A;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.filter {
  font-family: Source Sans Pro, sans-serif;
  padding: 6px 6px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.35s;
  border: none;
}

.filter:focus {
  box-shadow: 0px 1px 1px 0px #00000026;
  outline: none;
  background: #90EE90;
}

.filter.focus-visible {
  box-shadow: 0 0 0 2px green;
}

.filter:hover {
  background: #90EE90;
}

.projects {
  margin-bottom: 50px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-enter {
  transform: scale(0.5) translatey(-80px);
  opacity: 0;
}

.projects-leave-to {
  transform: translatey(30px);
  opacity: 0;
}

.projects-leave-active {
  position: absolute;
  z-index: -1;
}

.project {
  transition: all 0.35s ease-in-out;
  margin: 10px;
  box-shadow: 0px 2px 8px lightgrey;
  border-radius: 5px;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center  !important;
}

.project-image-wrapper {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  opacity: 0.01;
  background: linear-gradient(
      to bottom,
      rgba(0, 210, 247, 0.65) 0%,
      rgba(0, 210, 247, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top,
      rgba(247, 0, 156, 0.65) 0%,
      rgba(247, 0, 156, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    );
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-image {
  width: 100%;
  height: 150px;
  padding-bottom: 5px;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-wrapper {
  margin-top: 20px;
  position: relative;
}

input {
  outline: none;
  border-radius: 3px;
  font-family: Source Sans Pro, sans-serif;
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
  background: white;
  width: 200px;
}

input:focus {
  outline: none;
  transform: scale(1.05);
}

input::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  font-family: Source Sans Pro, sans-serif;
}

input.focus-visible {
  box-shadow: 0 0 0 2px green;
}

</style>

<div id="app">
  <div class="title-container">
    <div>
      <h3 class="title">
        Artist Alley Listing
      </h3>
    </div>
    <div class="filters">
      <button class="filter" v-on:click="setFilter('ALL')">All</button>
      <button class="filter" v-on:click="setFilter('GI')">Genshin Impact</button>
      <button class="filter" v-on:click="setFilter('HSR')">Honkai Star Rail</button>
      <button class="filter" v-on:click="setFilter('OG')">Original Works</button>
      <button class="filter" v-on:click="setFilter('ORV')">ORV</button>
      <button class="filter" v-on:click="setFilter('HOLOLIVE')">Hololive</button>
      <button class="filter" v-on:click="setFilter('JJK')">Jujutsu Kaisen</button>
      <button class="filter" v-on:click="setFilter('2J3J')">Nijisanji</button>
      <button class="filter" v-on:click="setFilter('CSM')">Chainsaw Man</button>
      <button class="filter" v-on:click="setFilter('VOCALOID')">Vocaloid</button>
      <button class="filter" v-on:click="setFilter('ARKNIGHTS')">Arknights</button>
      <button class="filter" v-on:click="setFilter('VTUBERS')">Vtubers</button>
      <button class="filter" v-on:click="setFilter('VALORANT')">Valorant</button>
      <button class="filter" v-on:click="setFilter('FFXIV')">FFXIV</button>
      <button class="filter" v-on:click="setFilter('SNF')">Frieren</button>
      <button class="filter" v-on:click="setFilter('PKMN')">Pokemon</button>
      <button class="filter" v-on:click="setFilter('SPLATOON')">Splatoon</button>
      <button class="filter" v-on:click="setFilter('NIKKE')">Nikke</button>
      <button class="filter" v-on:click="setFilter('PLAVE')">Plave</button>
      <button class="filter" v-on:click="setFilter('BLOCK')">Blue Lock</button>
      <button class="filter" v-on:click="setFilter('TRIGUN')">Trigun</button>
      <button class="filter" v-on:click="setFilter('KNY')">Demon Slayer</button>
      <button class="filter" v-on:click="setFilter('BA')">Blue Archive</button>
      <button class="filter" v-on:click="setFilter('LOZ')">The Legend of Zelda</button>
      <button class="filter" v-on:click="setFilter('HAIKYU')">Haikyu!!</button>
      <button class="filter" v-on:click="setFilter('R1999')">Reverse: 1999</button>
      <button class="filter" v-on:click="setFilter('OP')">One Piece</button>
      <button class="filter" v-on:click="setFilter('BG3')">Baldur's Gate 3</button>
      <button class="filter" v-on:click="setFilter('GHIBLI')">Studio Ghibli</button>
      <button class="filter" v-on:click="setFilter('ONK')">Oshi no Ko</button>
      <button class="filter" v-on:click="setFilter('BSD')">Bungou Stray Dogs</button>
      <button class="filter" v-on:click="setFilter('BTRK')">Bocchi the Rock!</button>
      <button class="filter" v-on:click="setFilter('HI3')">Honkai Impact 3rd</button>
      <button class="filter" v-on:click="setFilter('HEARTSTEEL')">Heartsteel</button>
      <button class="filter" v-on:click="setFilter('PTN')">Path to Nowhere</button>
      <button class="filter" v-on:click="setFilter('LINKCLICK')">Link Click</button>
      <button class="filter" v-on:click="setFilter('SLAM DUNK')">Slam Dunk</button>
      <button class="filter" v-on:click="setFilter('CASTLEVANIA')">Castlevania</button>
      <button class="filter" v-on:click="setFilter('IDV')">Identity V</button>
      <button class="filter" v-on:click="setFilter('SPIDERMAN')">Spiderman</button>
      <button class="filter" v-on:click="setFilter('AOT')">Attack on Titan</button>
      <button class="filter" v-on:click="setFilter('NARUTO')">Naruto</button>
      <button class="filter" v-on:click="setFilter('JJBA')">Jojo's Bizarre Adventures</button>
      <button class="filter" v-on:click="setFilter('GRAVITYFALLS')">Gravity Falls</button>
      <button class="filter" v-on:click="setFilter('ADVTIME')">Adventure Time</button>
      <button class="filter" v-on:click="setFilter('OWHOUSE')">The Owl House</button>
      <button class="filter" v-on:click="setFilter('HXH')">Hunter x Hunter</button>
      <button class="filter" v-on:click="setFilter('SHXTOU')">Shxtou</button>
      <button class="filter" v-on:click="setFilter('PARADOX LIVE')">Paradox Live</button>
      <button class="filter" v-on:click="setFilter('TOT')">Tears of Themis</button>
      <button class="filter" v-on:click="setFilter('OMORI')">OMORI</button>
      <button class="filter" v-on:click="setFilter('LCF')">LCF</button>
      <button class="filter" v-on:click="setFilter('FURUBA')">Fruits Basket</button>
      <button class="filter" v-on:click="setFilter('MADOKA')">Madoka Magica</button>
      <button class="filter" v-on:click="setFilter('AVATAR')">Avatar</button>
      <button class="filter" v-on:click="setFilter('TADC')">The Amazing Digital Circus</button>
      <button class="filter" v-on:click="setFilter('S2M')">Sasaki to Miyano</button>
      <button class="filter" v-on:click="setFilter('MNBIG')">My New Boss is Goofy</button>
      <button class="filter" v-on:click="setFilter('KAGEROU')">Kagerou Project</button>
      <button class="filter" v-on:click="setFilter('AC')">Animal Crossing</button>
      <button class="filter" v-on:click="setFilter('RPG')">RPG MAKER Games</button>
      <button class="filter" v-on:click="setFilter('DCCOMICS')">DC Comics</button>
      <button class="filter" v-on:click="setFilter('RE')">Resident Evil</button>
      <button class="filter" v-on:click="setFilter('LOU')">The Last of Us</button>
      <button class="filter" v-on:click="setFilter('APEX')">Apex Legends</button>
      <button class="filter" v-on:click="setFilter('DGRP')">Dangan Ronpa</button>
      <button class="filter" v-on:click="setFilter('AZUR')">Azur Lane</button>
      <button class="filter" v-on:click="setFilter('WHA')">Witch Hat Atelier</button>
      <button class="filter" v-on:click="setFilter('AA')">Ace Attorney Series</button>
      <button class="filter" v-on:click="setFilter('LOL')">League of Legends</button>
      <button class="filter" v-on:click="setFilter('MOUNTHUASECT')">Return of Mount Hua Sect</button>
      <button class="filter" v-on:click="setFilter('PHINEAS')">Phineas and Ferb</button>
      <button class="filter" v-on:click="setFilter('DRSTONE')">DR. STONE</button>
      <button class="filter" v-on:click="setFilter('VNC')">Vanitas no Carte</button>
      <button class="filter" v-on:click="setFilter('NUCAR')">NU: Carnival</button>
      <button class="filter" v-on:click="setFilter('SPYX')">Spy x Family</button>
      <button class="filter" v-on:click="setFilter('FATE')">FATE Series</button>
      <button class="filter" v-on:click="setFilter('ENSTARS')">Ensemble Stars</button>
      <button class="filter" v-on:click="setFilter('IDOLISH7')">IDOLiSH 7</button>
      <button class="filter" v-on:click="setFilter('BANGDREAM')">BanG DreaM!</button>
      <button class="filter" v-on:click="setFilter('P5')">Persona 5</button>
      <button class="filter" v-on:click="setFilter('MHA')">My Hero Academia</button>
      <button class="filter" v-on:click="setFilter('BCLOVER')">Black Clover</button>
      <button class="filter" v-on:click="setFilter('OURAN')">Ouran High School</button>
      <button class="filter" v-on:click="setFilter('TRFMR')">Transformers</button>
      <button class="filter" v-on:click="setFilter('MC')">Minecraft</button>
      <button class="filter" v-on:click="setFilter('FNAF')">FNAF</button>
      <button class="filter" v-on:click="setFilter('KRSJ')">Black Butler</button>
      <button class="filter" v-on:click="setFilter('APD')">Apothecary Diaries</button>
      <button class="filter" v-on:click="setFilter('SCLASS')">My S-Class Hunters</button>
    </div>
    <div class="search-wrapper">
      <input type="text" v-model="search" placeholder="🔍 Search Artist Name" />
    </div>

    <transition-group class="projects" name="projects">
      <div class="project" v-for="project in filteredAndSearched" v-bind:key="project.title">
        <a v-bind:href="project.url" target="_blank" rel="noopener">
          <div class="project-image-wrapper">
            <img class="project-image" v-bind:src="project.image">
            <div class="gradient-overlay"></div>
            <span class="project-title">{{project.title}}</span>
          </div>
        </a>
      </div>
    </transition-group>
  </div>
</div>

<script>
new Vue({
  el: "#app",
  data: {
    search: "",
    currentFilter: "ALL",
    projects: [
      {
        title: "(˶‾᷄ ⁻̫ ‾᷅˵)",
        url: "https://dokidokianimemarket.carrd.co/#c0a1",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","2J3J", "OMORI", "ORV", "PLAVE", "BLOCK", "NUCAR", "BSD", "TRIGUN", "IDV", "GI", "LCF"]
      },
      {
        title: "Allenerie",
        url: "https://www.allenerie.com",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "FFXIV", "OG"]
      },
      {
        title: "Artist Triangle",
        url: "https://dokidokianimemarket.carrd.co/#c0a3",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image08.jpg",
        category: ["ALL","TRFMR", "ARKNIGHTS", "FNAF", "IDV", "GI", "HSR", "VTUBERS", "MC", "VOCALOID", "TRIGUN", "OG"]
      },
      {
        title: "Astrea",
        url: "https://www.instagram.com/astreaa_",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG", "GI", "HSR"]
      },
      {
        title: "Babuland",
        url: "https://dokidokianimemarket.carrd.co/#c0a2",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","HSR", "GI", "ORV", "TOT"]
      },
      {
        title: "bbluebellies",
        url: "https://www.instagram.com/bbluebellies/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image09.jpg",
        category: ["ALL","OP", "GHIBLI", "GI", "JJK", "OG", "KNY", "HXH", "VALORANT", "CSM", "HSR"]
      },
      {
        title: "Brother Ming Games",
        url: "https://www.brotherminggames.com/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR"]
      },
      {
        title: "Chomon",
        url: "https://www.instagram.com/chodan_chomon",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OP", "GHIBLI", "KNY", "JJK", "AOT", "HXH", "AVATAR", "ORV", "HAIKYU", "MHA", "BCLOVER", "FURUBA", "OURAN", "JJBA"]
      },
      {
        title: "Circus-Usagi",
        url: "https://circus-usagi.art/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image10.png",
        category: ["ALL","OG", "HEARTSTEEL", "LOZ"]
      },
      {
        title: "clown town down town",
        url: "https://clowntowndowntown.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image11.jpg",
        category: ["ALL","GI", "HSR", "JJK", "TRIGUN", "PHINEAS", "GRAVITYFALLS", "ADVTIME", "OWHOUSE"]
      },
      {
        title: "CurryNoodle Art",
        url: "https://www.instagram.com/currynoodleart",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image12.jpg",
        category: ["ALL","HOLOLIVE", "HSR"]
      },
      {
        title: "DARU",
        url: "https://twitter.com/daruo_0",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "P5", "SNF"]
      },
      {
        title: "Daydreamer",
        url: "https://www.instagram.com/mandadadadada/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "JJK"]
      },
      {
        title: "Del lwl",
        url: "https://www.instagram.com/del_lwl/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image13.jpg",
        category: ["ALL","HSR", "ARKNIGHTS", "ORV", "LINKCLICK", "GI", "SNF", "BTRK", "MOUNTHUASECT"]
      },
      {
        title: "Feyi x Seventynone",
        url: "https://dokidokianimemarket.carrd.co/#c0a4",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image14.jpg",
        category: ["ALL","GI", "KNY", "BLOCK", "SHXTOU", "PARADOX LIVE", "2J3J", "TOT", "VOCALOID", "DRSTONE", "OG", "ONK", "HOB", "VNC", "BSD"]
      },
      {
        title: "heyjonut",
        url: "https://www.instagram.com/heyjonut",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG", "PKMN", "JJK", "GI", "HSR", "LOZ", "2J3J"]
      },
      {
        title: "Hira Icigocha",
        url: "https://www.instagram.com/15cha_hira",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image15.jpg",
        category: ["ALL","OG", "APEX", "DGRP"]
      },
      {
        title: "jaayes_",
        url: "https://www.instagram.com/jaayes_",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI"]
      },
      {
        title: "Jellysoup",
        url: "https://dokidokianimemarket.carrd.co/#c0a5",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG", "2J3J", "VTUBERS", "HSR", "GI", "OWHOUSE", "GRAVITYFALLS", "ADVTIME"]
      },
      {
        title: "Kabayao",
        url: "https://dokidokianimemarket.carrd.co/#c0a6",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","KRSJ", "MADOKA", "LOZ", "GI", "APD"]
      },
      {
        title: "Karasoba X Onibijutsu x Cipher",
        url: "https://dokidokianimemarket.carrd.co/#c0a7",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image16.jpg",
        category: ["ALL","JJK", "HSR", "R1999", "CSM", "VTUBERS"]
      },
      {
        title: "Kaypoh Cats",
        url: "https://kaypohcat.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image17.png",
        category: ["ALL"]
      },
      {
        title: "kyamaruu",
        url: "https://kyamaruu.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image18.jpg",
        category: ["ALL","GI", "OG", "2J3J", "LOZ", "VOCALOID", "JJK", "CSM", "TADC"]
      },
      {
        title: "Ladywaltz & HAE",
        url: "https://dokidokianimemarket.carrd.co/#c0a8",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image19.jpg",
        category: ["ALL","GI", "PTN", "HSR", "CASTLEVANIA"]
      },
      {
        title: "Leonie",
        url: "https://twitter.com/Leonie2814",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image20.jpg",
        category: ["ALL","GI", "HSR", "VOCALOID", "ORV"]
      },
      {
        title: "Littlehecki",
        url: "https://www.instagram.com/littlehecki/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG"]
      },
      {
        title: "Makrows X Shoucchi",
        url: "https://dokidokianimemarket.carrd.co/#c0a9",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image21.jpg",
        category: ["ALL","HSR", "GI", "VALORANT"]
      },
      {
        title: "Maple Chicken",
        url: "https://dokidokianimemarket.carrd.co/#c0a10",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "OG", "SLAM DUNK", "HSR", "ORV"]
      },
      {
        title: "Micabuns",
        url: "https://www.instagram.com/micabuns/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image22.png",
        category: ["ALL","JJK", "AOT", "CSM", "SNF", "KNY"]
      },
      {
        title: "miothle's atelier",
        url: "https://miothle.com/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image23.jpg",
        category: ["ALL","GI", "R1999", "HSR"]
      },
      {
        title: "MoriCreatives",
        url: "https://dokidokianimemarket.carrd.co/#c0a12",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image24.jpg",
        category: ["ALL","GI", "HSR", "2J3J", "ARKNIGHTS", "OG", "ORV", "ONK", "R1999"]
      },
      {
        title: "Nisemori",
        url: "https://www.instagram.com/nisemori_04/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image25.jpg",
        category: ["ALL","HOLOLIVE"]
      },
      {
        title: "No-Pain Cool-Stain",
        url: "https://instagram.com/nopain_coolstain",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG"]
      },
      {
        title: "Nocturnal Fwends",
        url: "https://nocturnalfwends.carrd.co",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HAIKYU", "NARUTO", "DCCOMICS", "OG"]
      },
      {
        title: "Oishikunare",
        url: "https://dokidokianimemarket.carrd.co/#c0a13",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image26.jpg",
        category: ["ALL","BA", "HOLOLIVE", "AZUR", "GI", "HSR", "NIKKE", "OG"]
      },
      {
        title: "prinzcake",
        url: "https://dokidokianimemarket.carrd.co/#c0a11",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image27.png",
        category: ["ALL","GI", "HSR", "FFXIV", "JJK", "ARKNIGHTS", "OG"]
      },
      {
        title: "saltska",
        url: "https://heromix.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","FFXIV", "OG", "BG3"]
      },
      {
        title: "saltyboos",
        url: "https://saltyboos.com/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image28.png",
        category: ["ALL","SPLATOON", "GI", "PKMN", "HSR", "HAIKYU", "PTN", "OG"]
      },
      {
        title: "Sarah Thursday",
        url: "https://sarahthursday.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG"]
      },
      {
        title: "Sherms no Kamishibai Ya",
        url: "https://www.instagram.com/shermstan/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","OG"]
      },
      {
        title: "Shinnnart",
        url: "https://instagram.com/shinnnart",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","HOLOLIVE", "2J3J", "GI", "OG", "VOCALOID"]
      },
      {
        title: "Smashed Beans",
        url: "https://smashedbeans.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "WHA", "PKMN", "AA", "NARUTO", "LOL", "JJK", "PLAVE"]
      },
      {
        title: "soufflepunch",
        url: "https://www.instagram.com/ivudesuu",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","ONK", "SPYX", "FURUBA", "CSM", "HSR", "GI", "OG"]
      },
      {
        title: "Soumeki",
        url: "https://www.instagram.com/sr_soumeki/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","HSR", "GI", "IDV", "TOT", "OG", "ENSTARS", "OP", "HAIKYU", "ORV", "SCLASS", "2J3J", "TRIGUN"]
      },
      {
        title: "SRKORK",
        url: "https://www.instagram.com/srkork/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","JJK", "GI", "SPIDERMAN", "OG", "CSM", "RE", "LOU"]
      },
      {
        title: "Superb Comet",
        url: "https://dokidokianimemarket.carrd.co/#c0a14",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image30.jpg",
        category: ["ALL","HOLOLIVE"]
      },
      {
        title: "syansoup",
        url: "https://dokidokianimemarket.carrd.co/#c0a15",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "2J3J", "DCCOMICS", "CSM", "ORV", "BG3", "IDV"]
      },
      {
        title: "Tamaffles",
        url: "https://dokidokianimemarket.carrd.co/#c0a16",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image31.jpg",
        category: ["ALL","GI", "VTUBERS", "HSR", "OG", "S2M", "MNBIG", "LINKCLICK", "JJK", "KAGEROU", "AC", "RPG", "GHIBLI"]
      },
      {
        title: "Tea&Buns",
        url: "https://portaly.cc/tea_n_buns",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR"]
      },
      {
        title: "The Sparkling Water",
        url: "https://dokidokianimemarket.carrd.co/#c0a17",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","HSR", "GI", "OG"]
      },
      {
        title: "TOYFATT",
        url: "https://dokidokianimemarket.carrd.co/#c0a18",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "ARKNIGHTS", "NIKKE", "BA", "PKMN"]
      },
      {
        title: "Twilichu",
        url: "https://twilichu.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image32.jpg",
        category: ["ALL","GI", "HSR", "BG3"]
      },
      {
        title: "ursa.union",
        url: "https://dokidokianimemarket.carrd.co/#c0a19",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image04.jpg",
        category: ["ALL","HOLOLIVE", "2J3J", "VALORANT", "GI", "VTUBERS"]
      },
      {
        title: "WWfanart",
        url: "https://dokidokianimemarket.carrd.co/#c0a20",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image05.jpg",
        category: ["ALL","BLOCK", "JJK", "HAIKYU", "BSD", "JJBA"]
      },
      {
        title: "Xeph's Artworks",
        url: "https://www.pixiv.net/en/users/110174",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","BA", "SNF", "BTRK", "HSR", "GI"]
      },
      {
        title: "Xuanllli",
        url: "https://xuanllli.wixsite.com/xuanllli/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL",]
      },
      {
        title: "Yui & Beansprout Co.",
        url: "https://dokidokianimemarket.carrd.co/#c0a21",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL","GI", "HSR", "FATE", "ENSTARS", "BLOCK", "CSM", "IDOLISH7", "MADOKA"]
      },
      {
        title: "Yunicomo x Lunko",
        url: "https://dokidokianimemarket.carrd.co/#c0a22",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image37.png",
        category: ["ALL",]
      },
      {
        title: "YuraxMae & Kuehmerlion",
        url: "https://dokidokianimemarket.carrd.co/#c0a23",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg",
        category: ["ALL","HI3", "HOLOLIVE", "R1999", "HSR", "GI", "OG", "CSM", "BANGDREAM", "MADOKA"]
      },
    ]
  },

  computed: {
    filteredAndSearched: function () {
      return this.projects.filter((project) => {
        // optional to have console.log
        console.log("this.currentFilter", this.currentFilter);
        return (
          project.title.toLowerCase().includes(this.search.toLowerCase()) &&
          project.category.indexOf(this.currentFilter) !== -1
        );
      });
    }
  },

  methods: {
    setFilter: function (project) {
      this.currentFilter = project;
    }
  }
});

</script>