<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Source Sans Pro, sans-serif;
  font-size: 25pt;
  font-weight: bold;
}

.project-title {
  font-size: 10pt;
  margin-top: 50px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #088F8F;
  text-decoration: none;
}

a:hover {
  color: #5F9EA0;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.filter {
  font-family: Source Sans Pro, sans-serif;
  padding: 6px 6px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.35s;
  border: none;
}

.filter:focus {
  box-shadow: 0px 1px 1px 0px #00000026;
  outline: none;
  background: #90EE90;
}

.filter.focus-visible {
  box-shadow: 0 0 0 2px green;
}

.filter:hover {
  background: #90EE90;
}

.projects {
  margin-bottom: 50px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-enter {
  transform: scale(0.5) translatey(-80px);
  opacity: 0;
}

.projects-leave-to {
  transform: translatey(30px);
  opacity: 0;
}

.projects-leave-active {
  position: absolute;
  z-index: -1;
}

.project {
  transition: all 0.35s ease-in-out;
  margin: 10px;
  box-shadow: 0px 2px 8px lightgrey;
  border-radius: 5px;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center  !important;
}

.project-image-wrapper {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  opacity: 0.01;
  background: linear-gradient(
      to bottom,
      rgba(0, 210, 247, 0.65) 0%,
      rgba(0, 210, 247, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top,
      rgba(247, 0, 156, 0.65) 0%,
      rgba(247, 0, 156, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    );
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-image {
  width: 100%;
  height: 150px;
  padding-bottom: 5px;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-wrapper {
  margin-top: 20px;
  position: relative;
}

input {
  outline: none;
  border-radius: 3px;
  font-family: Source Sans Pro, sans-serif;
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
  background: white;
  width: 200px;
}

input:focus {
  outline: none;
  transform: scale(1.05);
}

input::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  font-family: Source Sans Pro, sans-serif;
}

input.focus-visible {
  box-shadow: 0 0 0 2px green;
}

</style>

<div id="app">
  <div class="title-container">
    <div>
      <h3 class="title">
        Artist Alley Listing
      </h3>
    </div>
    <div class="filters">
      <button class="filter" v-on:click="setFilter('ALL')">All</button>
      <button class="filter" v-on:click="setFilter('GI')">Genshin Impact</button>
      <button class="filter" v-on:click="setFilter('HSR')">Honkai Star Rail</button>
      <button class="filter" v-on:click="setFilter('OG')">Original Works</button>
      <button class="filter" v-on:click="setFilter('ORV')">ORV</button>
      <button class="filter" v-on:click="setFilter('HOLOLIVE')">Hololive</button>
      <button class="filter" v-on:click="setFilter('JJK')">Jujutsu Kaisen</button>
      <button class="filter" v-on:click="setFilter('2J3J')">Nijisanji</button>
      <button class="filter" v-on:click="setFilter('CSM')">Chainsaw Man</button>
      <button class="filter" v-on:click="setFilter('VOCALOID')">Vocaloid</button>
      <button class="filter" v-on:click="setFilter('ARKNIGHTS')">Arknights</button>
      <button class="filter" v-on:click="setFilter('VTUBERS')">Vtubers</button>
      <button class="filter" v-on:click="setFilter('VALORANT')">Valorant</button>
      <button class="filter" v-on:click="setFilter('FFXIV')">FFXIV</button>
      <button class="filter" v-on:click="setFilter('SNF')">Frieren</button>
      <button class="filter" v-on:click="setFilter('PKMN')">Pokemon</button>
      <button class="filter" v-on:click="setFilter('SPLATOON')">Splatoon</button>
      <button class="filter" v-on:click="setFilter('NIKKE')">Nikke</button>
      <button class="filter" v-on:click="setFilter('PLAVE')">Plave</button>
      <button class="filter" v-on:click="setFilter('BLOCK')">Blue Lock</button>
      <button class="filter" v-on:click="setFilter('TRIGUN')">Trigun</button>
      <button class="filter" v-on:click="setFilter('KNY')">Demon Slayer</button>
      <button class="filter" v-on:click="setFilter('BA')">Blue Archive</button>
      <button class="filter" v-on:click="setFilter('LOZ')">The Legend of Zelda</button>
      <button class="filter" v-on:click="setFilter('HAIKYU')">Haikyu!!</button>
      <button class="filter" v-on:click="setFilter('R1999')">Reverse: 1999</button>
      <button class="filter" v-on:click="setFilter('OP')">One Piece</button>
      <button class="filter" v-on:click="setFilter('BG3')">Baldur's Gate 3</button>
      <button class="filter" v-on:click="setFilter('GHIBLI')">Studio Ghibli</button>
      <button class="filter" v-on:click="setFilter('ONK')">Oshi no Ko</button>
      <button class="filter" v-on:click="setFilter('BSD')">Bungou Stray Dogs</button>
      <button class="filter" v-on:click="setFilter('BTRK')">Bocchi the Rock!</button>
      <button class="filter" v-on:click="setFilter('HI3')">Honkai Impact 3rd</button>
      <button class="filter" v-on:click="setFilter('HEARTSTEEL')">Heartsteel</button>
      <button class="filter" v-on:click="setFilter('PTN')">Path to Nowhere</button>
      <button class="filter" v-on:click="setFilter('LINKCLICK')">Link Click</button>
      <button class="filter" v-on:click="setFilter('SLAM DUNK')">Slam Dunk</button>
      <button class="filter" v-on:click="setFilter('CASTLEVANIA')">Castlevania</button>
      <button class="filter" v-on:click="setFilter('IDV')">Identity V</button>
      <button class="filter" v-on:click="setFilter('SPIDERMAN')">Spiderverse</button>
      <button class="filter" v-on:click="setFilter('AOT')">Attack on Titan</button>
      <button class="filter" v-on:click="setFilter('NARUTO')">Naruto</button>
      <button class="filter" v-on:click="setFilter('JJBA')">Jojo's Bizarre Adventures</button>
      <button class="filter" v-on:click="setFilter('GRAVITYFALLS')">Gravity Falls</button>
      <button class="filter" v-on:click="setFilter('ADVTIME')">Adventure Time</button>
      <button class="filter" v-on:click="setFilter('OWHOUSE')">The Owl House</button>
      <button class="filter" v-on:click="setFilter('HXH')">Hunter x Hunter</button>
      <button class="filter" v-on:click="setFilter('SHXTOU')">Shxtou</button>
      <button class="filter" v-on:click="setFilter('PARADOX LIVE')">Paradox Live</button>
      <button class="filter" v-on:click="setFilter('TOT')">Tears of Themis</button>
      <button class="filter" v-on:click="setFilter('OMORI')">OMORI</button>
      <button class="filter" v-on:click="setFilter('LCF')">LCF</button>
      <button class="filter" v-on:click="setFilter('FURUBA')">Fruits Basket</button>
      <button class="filter" v-on:click="setFilter('MADOKA')">Madoka Magica</button>
      <button class="filter" v-on:click="setFilter('AVATAR')">Avatar</button>
      <button class="filter" v-on:click="setFilter('TADC')">The Amazing Digital Circus</button>
      <button class="filter" v-on:click="setFilter('S2M')">Sasaki to Miyano</button>
      <button class="filter" v-on:click="setFilter('MNBIG')">My New Boss is Goofy</button>
      <button class="filter" v-on:click="setFilter('KAGEROU')">Kagerou Project</button>
      <button class="filter" v-on:click="setFilter('AC')">Animal Crossing</button>
      <button class="filter" v-on:click="setFilter('RPG')">RPG MAKER Games</button>
      <button class="filter" v-on:click="setFilter('DCCOMICS')">DC Comics</button>
      <button class="filter" v-on:click="setFilter('RE')">Resident Evil</button>
      <button class="filter" v-on:click="setFilter('LOU')">The Last of Us</button>
      <button class="filter" v-on:click="setFilter('APEX')">Apex Legends</button>
      <button class="filter" v-on:click="setFilter('DGRP')">Dangan Ronpa</button>
      <button class="filter" v-on:click="setFilter('AZUR')">Azur Lane</button>
      <button class="filter" v-on:click="setFilter('WHA')">Witch Hat Atelier</button>
      <button class="filter" v-on:click="setFilter('AA')">Ace Attorney Series</button>
      <button class="filter" v-on:click="setFilter('LOL')">League of Legends</button>
      <button class="filter" v-on:click="setFilter('MOUNTHUASECT')">Return of Mount Hua Sect</button>
      <button class="filter" v-on:click="setFilter('PHINEAS')">Phineas and Ferb</button>
      <button class="filter" v-on:click="setFilter('DRSTONE')">DR. STONE</button>
      <button class="filter" v-on:click="setFilter('VNC')">Vanitas no Carte</button>
      <button class="filter" v-on:click="setFilter('NUCAR')">NU: Carnival</button>
      <button class="filter" v-on:click="setFilter('SPYX')">Spy x Family</button>
      <button class="filter" v-on:click="setFilter('FATE')">FATE Series</button>
      <button class="filter" v-on:click="setFilter('ENSTARS')">Ensemble Stars</button>
      <button class="filter" v-on:click="setFilter('IDOLISH7')">IDOLiSH 7</button>
      <button class="filter" v-on:click="setFilter('BANGDREAM')">BanG DreaM!</button>
	  <button class="filter" v-on:click="setFilter('PRSK')">Project Sekai</button>
      <button class="filter" v-on:click="setFilter('P5')">Persona</button>
      <button class="filter" v-on:click="setFilter('MHA')">My Hero Academia</button>
      <button class="filter" v-on:click="setFilter('BCLOVER')">Black Clover</button>
      <button class="filter" v-on:click="setFilter('OURAN')">Ouran High School</button>
      <button class="filter" v-on:click="setFilter('TRFMR')">Transformers</button>
      <button class="filter" v-on:click="setFilter('MC')">Minecraft</button>
      <button class="filter" v-on:click="setFilter('FNAF')">FNAF</button>
      <button class="filter" v-on:click="setFilter('APD')">Apothecary Diaries</button>
      <button class="filter" v-on:click="setFilter('SCLASS')">My S-Class Hunters</button>
	  <button class="filter" v-on:click="setFilter('EVA')">Evangelion</button>
	  <button class="filter" v-on:click="setFilter('MTP')">Moriarty the Patriot</button>
      <button class="filter" v-on:click="setFilter('PJ')">Percy Jackson</button>
	  <button class="filter" v-on:click="setFilter('TA')">Thousand Autumns</button>
	  <button class="filter" v-on:click="setFilter('KUROS')">Black Butler</button>
	  <button class="filter" v-on:click="setFilter('OMORI')">Omori</button>
	  <button class="filter" v-on:click="setFilter('2HA')">2HA</button>
	  <button class="filter" v-on:click="setFilter('HB')">Hazbin Hotel</button>
	  <button class="filter" v-on:click="setFilter('MIK')">Mairimashita Iruma-kun</button>
	  <button class="filter" v-on:click="setFilter('BSTR')">Beastars</button>
	  <button class="filter" v-on:click="setFilter('TR')">Tokyo Revengers</button>
	  <button class="filter" v-on:click="setFilter('OM')">Obey me!!</button>
	  <button class="filter" v-on:click="setFilter('MOB')">Mob Psycho 100</button>
	  <button class="filter" v-on:click="setFilter('MASHLE')">Mashle</button>
	  <button class="filter" v-on:click="setFilter('OW')">Overwatch</button>
      <button class="filter" v-on:click="setFilter('HADES')">Hades</button>
      <button class="filter" v-on:click="setFilter('DGMN')">Digimon</button>
      <button class="filter" v-on:click="setFilter('GBF')">Granblue Fantasy</button>
      <button class="filter" v-on:click="setFilter('GGS')">Guilty Gear Strive</button>
      <button class="filter" v-on:click="setFilter('KIRBY')">Kirby</button>
      <button class="filter" v-on:click="setFilter('DPS')">Love & Deepspace</button>
      <button class="filter" v-on:click="setFilter('GOMENS')">Good Omens</button>
      <button class="filter" v-on:click="setFilter('COOKIE')">Cookie Run</button>
      <button class="filter" v-on:click="setFilter('LADYBUG')">Miraculous Ladybug</button>
      <button class="filter" v-on:click="setFilter('NSO')">Needy Streamer Overload</button>
      <button class="filter" v-on:click="setFilter('HYPMIC')">Hypnosis Mic</button>
      <button class="filter" v-on:click="setFilter('FE')">Fire Emblem</button>
      <button class="filter" v-on:click="setFilter('ALNST')">Alien Stage</button>
      <button class="filter" v-on:click="setFilter('MESHI')">Dungeon Meshi</button>
      <button class="filter" v-on:click="setFilter('CCS')">Card Captor Sakura</button>
      <button class="filter" v-on:click="setFilter('CCAW')">Campfire Cooking in Another World</button>
    </div>
    <div class="search-wrapper">
      <input type="text" v-model="search" placeholder="🔍 Search Artist Name" />
    </div>

    <transition-group class="projects" name="projects">
      <div class="project" v-for="project in filteredAndSearched" v-bind:key="project.title">
        <a v-bind:href="project.url" target="_blank" rel="noopener">
          <div class="project-image-wrapper">
            <img class="project-image" v-bind:src="project.image">
            <div class="gradient-overlay"></div>
            <span class="project-title">{{project.title}}</span>
          </div>
        </a>
      </div>
    </transition-group>
  </div>
</div>

<script>
new Vue({
  el: "#app",
  data: {
    search: "",
    currentFilter: "ALL",
    projects: [
{
title: "A1 Machi Mile",
url: "https://bento.me/machi-mile",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","2J3J","OG","GI","HSR","EVA"]
},
{
title: "A2 heyjonut",
url: "https://www.instagram.com/heyjonut",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","PKMN","JJK","GI","HSR","LOZ","2J3J"]
},
{
title: "A3 Leonie",
url: "https://twitter.com/Leonie2814",
image: "https://i.ibb.co/G9RZ2vK/A3.jpg",
category: ["ALL","GI","HSR","VOCALOID","ORV"]
},
{
title: "A4 ventihands x aloeinabox",
url: "https://dokidokianimemarket.carrd.co/#a4",
image: "https://i.ibb.co/4jJr04W/A4.jpg",
category: ["ALL","BSD","MTP","PJ","TA","ORV","CSM","HSR","GI","KUROS","R1999","OMORI","LINKCLICK","2HA","SPIDERMAN","SPYX"]
},
{
title: "A5 Kabayao",
url: "https://dokidokianimemarket.carrd.co/#a5",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","KUROS","MADOKA","LOZ","GI","APD"]
},
{
title: "A8 Ladywaltz & HAE",
url: "https://dokidokianimemarket.carrd.co/#c0a8",
image: "https://dokidokianimemarket.carrd.co/assets/images/image19.jpg",
category: ["ALL","GI","PTN","HSR","CASTLEVANIA"]
},
{
title: "A9 DARU",
url: "https://twitter.com/daruo_0",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","HSR","P5","SNF"]
},
{
title: "A10 Xeph's Artworks",
url: "https://www.pixiv.net/en/users/110174",
image: "https://i.ibb.co/vvtv7G1/A10.jpg",
category: ["ALL","BA","SNF","BTRK","HSR","GI"]
},
{
title: "A11-A12 prinzcake & rachelhuey",
url: "https://dokidokianimemarket.carrd.co/#c0a11",
image: "https://dokidokianimemarket.carrd.co/assets/images/image27.jpg",
category: ["ALL","GI","HSR","FFXIV","JJK","ARKNIGHTS","OG"]
},
{
title: "A13 Boyfailure Coalition",
url: "https://dokidokianimemarket.carrd.co/#a13",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","GI","HSR","WHA","ORV","OP","BSD","LINKCLICK","HB","SNF","MIK","BG3","BSTR"]
},
{
title: "A14 Kohitorii x Unisagii",
url: "https://dokidokianimemarket.carrd.co/#a14",
image: "https://i.ibb.co/qmsBnDY/A14.jpg",
category: ["ALL","TR","BSD","HSR","GI","VOCALOID","OM","PRSK","MOB","JJK","MASHLE","HB","ORV"]
},
{
title: "A15 Shoggya",
url: "https://dokidokianimemarket.carrd.co/#a15",
image: "https://i.ibb.co/f45LrrD/A15.jpg",
category: ["ALL","VTUBERS","HOLOLIVE","2J3J","GI","AA","OP","IDV","VOCALOID","KUROS","OW"]
},
{
title: "A16 kurage.bakery",
url: "https://dokidokianimemarket.carrd.co/#a16",
image: "https://i.ibb.co/QFknr9q/A16.jpg",
category: ["ALL","GI","SPIDERMAN","LOZ","HADES"]
},
{
title: "A17-A18 o.mj studio",
url: "https://www.instagram.com/o.mj_studio",
image: "https://i.ibb.co/f4zfqw6/A17.jpg",
category: ["ALL","PKMN","GI","HSR","DGMN","KNY","OP","SPYX","GHIBLI","OG"]
},
{
title: "A19 mochibuddies",
url: "https://www.mochibuddies.com/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG"]
},
{
title: "A20 Sngarila.art",
url: "https://instagram.com/sngarila.art",
image: "https://i.ibb.co/f4WV54T/A20.jpg",
category: ["ALL","JJK","HSR","GI","KNY","CSM"]
},
{
title: "A21 Soggy x Raredrops",
url: "https://dokidokianimemarket.carrd.co/#a21",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HSR","GI","HOLOLIVE","PKMN","OG"]
},
{
title: "A22 Del lwl",
url: "https://www.instagram.com/del_lwl/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image13.jpg",
category: ["ALL","HSR", "ARKNIGHTS", "ORV", "LINKCLICK", "GI", "SNF", "BTRK", "MOUNTHUASECT"]
},
{
title: "A23 一夜暴富",
url: "https://linktr.ee/ichiya_777",
image: "https://i.ibb.co/xYJR96W/A23.jpg",
category: ["ALL","2J3J","HOLOLIVE","PLAVE","EVA","ONK"]
},
{
title: "A24 ShiroNiji",
url: "https://shironiji-arts.tumblr.com/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GGS","GBF","HSR","GI","ARKNIGHTS","P5"]
},
{
title: "A25 The Confetti Hands",
url: "https://www.behance.net/racheldivya",
image: "https://i.ibb.co/7jSwvKh/A25.jpg",
category: ["ALL","GHIBLI","OG"]
},
{
title: "A26 Heather Designs",
url: "https://linktr.ee/Heather_designs",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG"]
},
{
title: "A27-A28 xixipencil + jrpencil",
url: "https://dokidokianimemarket.carrd.co/#a27",
image: "https://i.ibb.co/QCt2W5b/A27.jpg",
category: ["ALL","HSR","VALORANT","GI","NIKKE"]
},
{
title: "A29 Bread Dippers",
url: "https://dokidokianimemarket.carrd.co/#a29",
image: "https://i.ibb.co/6rS2Hs7/A29.jpg",
category: ["ALL","ARKNIGHTS","2J3J","PARADOX LIVE","HB","OP","PKMN","OWHOUSE"]
},
{
title: "A30 Jabbawokku",
url: "https://instagram.com/jabbawokku",
image: "https://i.ibb.co/dJHySk9/A30.jpg",
category: ["ALL","OP","DGMN","PKMN"]
},
{
title: "A31 Tomyo",
url: "https://dokidokianimemarket.carrd.co/#a31",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HOLOLIVE","GI","IDV","HSR","2J3J","SPLATOON","PKMN","KIRBY","AC","OG"]
},
{
title: "A32 peachizura x _thequeeny x kardiodiatos",
url: "https://dokidokianimemarket.carrd.co/#a32",
image: "https://i.ibb.co/TrvskvC/A32.jpg",
category: ["ALL","HAIKYU","OURAN","TR","BLOCK","2J3J","ENSTARS","DPS","TOT","ENSTARS","PLAVE","OMORI","OG"]
},
{
title: "A33 Kemono Mimi Shrine(KMS)",
url: "https://dokidokianimemarket.carrd.co/#a33",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","VTUBERS","FFXIV","GOMENS","VOCALOID","GI","CCS","AC","HSR","OG"]
},
{
title: "B1 Brother Ming Games",
url: "https://www.brotherminggames.com/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","HSR"]
},
{
title: "B3 Tamaffles",
url: "https://dokidokianimemarket.carrd.co/#c0a16",
image: "https://dokidokianimemarket.carrd.co/assets/images/image31.jpg",
category: ["ALL","GI", "VTUBERS", "HSR", "OG", "S2M", "MNBIG", "LINKCLICK", "JJK", "KAGEROU", "AC", "RPG", "GHIBLI"]
},
{
title: "B4 syansoup",
url: "https://dokidokianimemarket.carrd.co/#c0a15",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI", "HSR", "2J3J", "DCCOMICS", "CSM", "ORV", "BG3", "IDV"]
},
{
title: "B5-B6 SG Vtubers",
url: "https://dokidokianimemarket.carrd.co/#b5",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG"]
},
{
title: "B7 Nocturnal Fwends",
url: "https://nocturnalfwends.carrd.co",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI", "HAIKYU", "NARUTO", "DCCOMICS", "OG"]
},
{
title: "B8 Circus-Usagi",
url: "https://circus-usagi.art/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image10.jpg",
category: ["ALL","OG", "HEARTSTEEL", "LOZ"]
},
{
title: "B9 lost.misery x golden.doodless",
url: "https://dokidokianimemarket.carrd.co/#b9",
image: "https://i.ibb.co/NCFfcwp/B9.jpg",
category: ["ALL","HSR","GI","COOKIE","GOMENS","LOL","VALORANT","SPIDERMAN","LADYBUG","HADES","OG"]
},
{
title: "B10 Wyrrd Rune",
url: "https://www.instagram.com/wyrrdrune/",
image: "https://i.ibb.co/162QyGR/B10.jpg",
category: ["ALL"]
},
{
title: "B11 Chaos Gang",
url: "https://dokidokianimemarket.carrd.co/#b11",
image: "https://i.ibb.co/CskJc8m/B11.jpg",
category: ["ALL","GI","HSR","PRSK","KAGEROU","NUCAR","TRIGUN"]
},
{
title: "B12 saltyboos",
url: "https://saltyboos.com/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image28.jpg",
category: ["ALL","SPLATOON", "GI", "PKMN", "HSR", "HAIKYU", "PTN", "OG"]
},
{
title: "B13 Institute of Toy Research",
url: "https://dokidokianimemarket.carrd.co/#b13",
image: "https://i.ibb.co/dL2qHy1/B13.jpg",
category: ["ALL","GI","HSR","OM","OG"]
},
{
title: "B14 Allenerie",
url: "https://www.allenerie.com",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI", "HSR", "FFXIV", "OG"]
},
{
title: "B15 YuraxMae & Kuehmerlion",
url: "https://dokidokianimemarket.carrd.co/#c0a23",
image: "https://dokidokianimemarket.carrd.co/assets/images/image06.jpg",
category: ["ALL","HI3", "HOLOLIVE", "R1999", "HSR", "GI", "OG", "CSM", "BANGDREAM", "MADOKA"]
},
{
title: "B16 HDB Dwellers",
url: "https://dokidokianimemarket.carrd.co/#b16",
image: "https://i.ibb.co/FD9Y1Sd/B16.jpg",
category: ["ALL","VALORANT","GI","HSR","SNF","CSM","BLOCK","ARKNIGHTS","FFXIV","NSO"]
},
{
title: "B17 Star Railers",
url: "https://dokidokianimemarket.carrd.co/#b17",
image: "https://i.ibb.co/F8znjQ5/B17.jpg",
category: ["ALL","GI","HSR","OG","AOT","PKMN","JJK","GHIBLI","OP","BTRK","OMORI","PLAVE"]
},
{
title: "B18 Sampo's Band of Con-Artists",
url: "https://dokidokianimemarket.carrd.co/#b18",
image: "https://i.ibb.co/yN9XwV0/B18.jpg",
category: ["ALL","TOT","ORV","CSM","HSR","ENSTARS","GI","DPS","PRSK","HYPMIC","PLAVE","KNY","NUCAR","2J3J","FE","ALNST","VOCALOID","PARADOX LIVE"]
},
{
title: "B19 Itto Publishing House",
url: "https://dokidokianimemarket.carrd.co/#b19",
image: "https://i.ibb.co/82GZPYC/B19.jpg",
category: ["ALL","GI","ENSTARS","2J3J","BG3","JJK","HSR","LCF"]
},
{
title: "B20 Yunicomo x Lunko",
url: "https://dokidokianimemarket.carrd.co/#c0a22",
image: "https://dokidokianimemarket.carrd.co/assets/images/image38.jpg",
category: ["ALL","ARKNIGHTS","NSO","LOZ","2J3J","VOCALOID","SPLATOON","KIRBY","SNF","MESHI","GI","HSR","SPYX","HOLOLIVE"]
},
{
title: "B21 Nekonase & Friends",
url: "https://www.instagram.com/nekonase",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HOLOLIVE","HSR","SNF"]
},
{
title: "B22 Ayumeume",
url: "https://www.instagram.com/ayumeume.png/",
image: "https://i.ibb.co/KhzVB3G/B22.jpg",
category: ["ALL","HSR","OG","SPYX","APD"]
},
{
title: "B23 Gacha Cafe",
url: "https://dokidokianimemarket.carrd.co/#b23",
image: "https://i.ibb.co/3dNvhc6/B23.jpg",
category: ["ALL","GI","HSR","BA","FFXIV","TOT"]
},
{
title: "B24 Raccoon Factory",
url: "https://dokidokianimemarket.carrd.co/#b24",
image: "https://i.ibb.co/WBqj3mT/B24.jpg",
category: ["ALL","OG","HOLOLIVE"]
},
{
title: "B25 Bento Palette",
url: "https://linktr.ee/bentopalette",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL"]
},
{
title: "B26 Banana & Yishy",
url: "https://dokidokianimemarket.carrd.co/#b26",
image: "https://i.ibb.co/L9Tgk2S/B26.jpg",
category: ["ALL","GI","ORV","HSR","R1999","BSD","SNF","HAIKYU"]
},
{
title: "B27-B28 OvO Slaying",
url: "https://dokidokianimemarket.carrd.co/#b27",
image: "https://i.ibb.co/DLnDSGX/B27.jpg",
category: ["ALL","GI","PKMN","HSR","LINKCLICK","OMORI","CSM","BG3","BTRK","OG"]
},
{
title: "B29 nandecolle",
url: "https://www.instagram.com/nandecolle",
image: "https://i.ibb.co/GVp6R0w/B29.jpg",
category: ["ALL","PKMN","OG"]
},
{
title: "B30 Chomon",
url: "https://www.instagram.com/chodan_chomon/",
image: "https://i.ibb.co/Pc0zk8x/B30.jpg",
category: ["ALL","OP","GHIBLI","KNY","JJK","AOT","HXH","AVATAR","ORV","HAIKYU","MHA","FURUBA","OURAN","JJBA"]
},
{
title: "B31 Giddy Glee",
url: "https://instagram.com/giddyglee",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","PKMN","CCS","KNY","OG"]
},
{
title: "B32 Nattellaz x Solarisens",
url: "https://www.instagram.com/solarisens/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","CSM","APD","BLOCK","KNY","AOT","PRSK"]
},
{
title: "B33 Neuthlea Statonary",
url: "https://dokidokianimemarket.carrd.co/#b33",
image: "https://i.ibb.co/8xZdRPk/B33.jpg",
category: ["ALL","GI","HSR","VTUBERS","PRSK","TOT"]
},
{
title: "B34 KuroVelle ft Hina",
url: "https://dokidokianimemarket.carrd.co/#b34",
image: "https://i.ibb.co/LJ8C1k3/B34.jpg",
category: ["ALL","GI","IDV","PRSK","KNY","ORV","SPIDERMAN"]
},
{
title: "C1 hexenskye",
url: "https://www.instagram.com/hexenskye/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL"]
},
{
title: "C2 Astralmon",
url: "https://astralmon.com/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL"]
},
{
title: "C3 Himeko’s Harem",
url: "https://Instagram.com/himekoharem",
image: "https://i.ibb.co/Njgpgs9/C3.jpg",
category: ["ALL","HSR","GI","BLOCK","TRIGUN","SPYX","JJK","HAIKYU"]
},
{
title: "C4 Shrimp",
url: "https://dokidokianimemarket.carrd.co/#c4",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","VTUBERS","HSR","VOCALOID","BSD","2J3J"]
},
{
title: "C5 Astrea",
url: "www.instagram.com/astreaa_",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","GI","HSR"]
},
{
title: "C6 Yui & Beansprout Co.",
url: "https://dokidokianimemarket.carrd.co/#c6",
image: "https://i.ibb.co/RDHkQZx/C6.jpg",
category: ["ALL","GI","HSR","FATE","CSM","BLOCK","MADOKA","APD","SPYX","CCAW"]
},
{
title: "C7 Snackcraving & KOHII",
url: "https://dokidokianimemarket.carrd.co/#c7",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","FE","PRSK","LOL","ARKNIGHTS"]
},
{
title: "C8 maguroes",
url: "https://dokidokianimemarket.carrd.co/#c8",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","GI","HSR","GHIBLI","BTRK","VALORANT","PRSK","OG","2J3J","PRSK","PTN"]
},
{
title: "C9 Season SideUp",
url: "https://www.instagram.com/seasonsideup/",
image: "https://i.ibb.co/jDLKmMn/C9.jpg",
category: ["ALL","GI","HSR","HI3","VOCALOID","PRSK","OG"]
},
{
title: "C10 LSI Art",
url: "https://dokidokianimemarket.carrd.co/#c10",
image: "https://i.ibb.co/j64mhjT/C10.jpg",
category: ["ALL","OG","PKMN","AC","HOLOLIVE","FFXIV","P5","TRIGUN","ADVTIME","KIRBY","JJK","AOT"]
},
{
title: "C11 cl.pepperin",
url: "https://www.instagram.com/cl.pepperin/",
image: "https://i.ibb.co/YDCJkMJ/C11.jpg",
category: ["ALL","GI","HAIKYU","HOLOLIVE","BLOCK"]
},
{
title: "C12 starilights",
url: "https://twitter.com/starilights/",
image: "https://i.ibb.co/74h7ZBq/C12.jpg",
category: ["ALL","OG","HSR","HI3","GI","ARKNIGHTS","R1999","OMORI","PRSK","NSO"]
},
{
title: "C13 Meowlting wonderland",
url: "https://dokidokianimemarket.carrd.co/#c13",
image: "https://i.ibb.co/gSqk0b1/C13.jpg",
category: ["ALL","OG","GI","HSR","PRSK","VTUBERS","2J3J","CSM","IDV","AOT","NARUTO","JJK"]
},
{
title: "C14 hoshiikanaru",
url: "https://dokidokianimemarket.carrd.co/#c14",
image: "https://i.ibb.co/TWvfpwb/C14.jpg",
category: ["ALL","GI","HSR","VTUBERS","HI3","NUCAR","GBF","SPYX"]
},
{
title: "C15 Makrows x Shoucchi96",
url: "https://dokidokianimemarket.carrd.co/#c0a9",
image: "https://dokidokianimemarket.carrd.co/assets/images/image21.jpg",
category: ["ALL","HSR","GI","VALORANT","OP","ARKNIGHTS","DPS"]
},
{
title: "C16 Belsprout and Layer6",
url: "https://dokidokianimemarket.carrd.co/#c16",
image: "https://i.ibb.co/pn0HBcG/C16.jpg",
category: ["ALL","GI","HSR","JJK","KNY","HADES","OP"]
},
{
title: "C17 Daitoarts x Sirfrogdraws",
url: "https://dokidokianimemarket.carrd.co/#c17",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","LOL","OG","DCCOMICS","P5","IDV","GI","AOT","HADES"]
},
{
title: "C18 Katsudonno X Zetaragi",
url: "https://dokidokianimemarket.carrd.co/#c18",
image: "https://i.ibb.co/vJdx6JP/C18.jpg",
category: ["ALL","GI","HSR","HOLOLIVE","2J3J"]
},
{
title: "C19 weehuu Mart",
url: "https://www.instagram.com/futazuki/",
image: "https://i.ibb.co/p0655nn/C19.jpg",
category: ["ALL","HSR","PLAVE","SLAM DUNK","CSM","MESHI"]
},
{
title: "C20 Quacke",
url: "https://www.pixiv.net/en/users/27352072",
image: "https://i.ibb.co/P1chfKg/C20.jpg",
category: ["ALL","VTUBERS","GI","HSR","R1999","OG"]
},
{
title: "C21 Pokomaru Buns",
url: "https://dokidokianimemarket.carrd.co/#c21",
image: "https://i.ibb.co/WpvT9nR/C21.jpg",
category: ["ALL","GI","OMORI","LINKCLICK","HSR","VOCALOID","BSD","JJK","PKMN","CSM","2HA","DGRP","KNY","OG"]
},
{
title: "C22 littlejackal x bingxuejun",
url: "https://dokidokianimemarket.carrd.co/#c22",
image: "https://i.ibb.co/sqz4CJQ/C22.jpg",
category: ["ALL","GI","HSR","OG","PTN"]
},
{
title: "C23 pistashxo x jetautoart.jr x ikanyaide",
url: "https://dokidokianimemarket.carrd.co/#c23",
image: "https://i.ibb.co/2qWsTbk/C23.jpg",
category: ["ALL","MOB","JJK","VTUBERS","HSR","SPIDERMAN","VOCALOID","HADES","HAIKYU"]
},
{
title: "C24 Bunbun Co.",
url: "https://bunbunco.carrd.co",
image: "https://i.ibb.co/LQfGdVd/C24.jpg",
category: ["ALL","FFXIV","2J3J","SPLATOON","PRSK","OMORI","AA","VTUBERS","HSR","OG"]
},
{
title: "C25 Pearl & Cotton",
url: "https://dokidokianimemarket.carrd.co/#c25",
image: "https://i.ibb.co/v40qqC8/C25.jpg",
category: ["ALL","ENSTARS","2J3J","ARKNIGHTS","PRSK","EVA","GI"]
},
{
title: "C26 Purring Cat Co",
url: "https://www.instagram.com/purringcatco/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","GHIBLI"]
},
{
title: "C27 mu.andcoco",
url: "https://www.instagram.com/mu.andcoco/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","GHIBLI"]
},
{
title: "C28 Berry Winkle",
url: "https://www.instagram.com/berry_winkle_/",
image: "https://i.ibb.co/19ykhKj/C28.jpg",
category: ["ALL","OG"]
},
{
title: "C29 soufflepunch",
url: "https://www.instagram.com/soufflepunch/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","ONK","SPYX","FURUBA","CSM","HSR","GI","OG"]
},
{
title: "C30 frantic x soberty",
url: "https://dokidokianimemarket.carrd.co/#c30",
image: "https://i.ibb.co/xS90MWk/C30.jpg",
category: ["ALL","OG","GI"]
},
{
title: "C31 Hellojellystardrops",
url: "https://dokidokianimemarket.carrd.co/#c31",
image: "https://i.ibb.co/71GQkHw/C31.jpg",
category: ["ALL","OG","GI","PKMN"]
},
{
title: "C32 Neru and pants",
url: "https://dokidokianimemarket.carrd.co/#c32",
image: "https://i.ibb.co/XtCvqr6/C32.jpg",
category: ["ALL","VTUBERS","VOCALOID","GI"]
},
{
title: "C33 Pyonyon",
url: "https://dokidokianimemarket.carrd.co/#c33",
image: "https://i.ibb.co/9Z3Y6Dh/C33.jpg",
category: ["ALL","OG","PKMN","VOCALOID","GI","HOLOLIVE"]
},
{
title: "C34 BunnyAndYarn",
url: "https://linktr.ee/bunnyandyarn",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","PKMN","OG"]
},
{
title: "D1 Circle Works",
url: "https://dokidokianimemarket.carrd.co/#d1",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","BA"]
},
{
title: "D2 Pure Reverie",
url: "https://dokidokianimemarket.carrd.co/#d2",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HSR"]
},
{
title: "D3 Rabbit Candy",
url: "https://dokidokianimemarket.carrd.co/#d3",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","ALL"]
},
{
title: "D4 Paws",
url: "https://twitter.com/paws0308",
image: "https://i.ibb.co/6ypP7XH/D4.jpg",
category: ["ALL","PKMN","VOCALOID","OMORI","SNF","SL","OG"]
},
{
title: "D5 Kaypoh Cats",
url: "https://kaypohcat.carrd.co/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image17.jpg",
category: ["ALL"]
},
{
title: "D6 The Dab Shop",
url: "https://dokidokianimemarket.carrd.co/#d6",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","BG3","ORV"]
},
{
title: "D7 TRASHURE",
url: "https://dokidokianimemarket.carrd.co/#d7",
image: "https://i.ibb.co/Wxs6pSJ/D7.jpg",
category: ["ALL","SPIDERMAN","APD","BLOCK","MESHI","FFXIV","SNF","GHIBLI","GOMENS","JJBA","JJK","DPS","MOB","NARUTO","OG","P5","PLAVE","VOCALOID"]
},
{
title: "D8 Clown Alley",
url: "https://clown-alley.carrd.co/",
image: "https://i.ibb.co/x6sGGs5/D8.jpg",
category: ["ALL","HOLOLIVE","GI","HSR","BG3","MESHI","GOMENS","AA","CSM","SLAM DUNK","OW","SKY","OG","TRIGUN"]
},
{
title: "D9 Can 2 Cai Fan Aunties",
url: "https://dokidokianimemarket.carrd.co/#d9",
image: "https://i.ibb.co/q0DDRd3/D9.jpg",
category: ["ALL","GI","HSR","2J3J","HOLOLIVE","CSM","JJK","LOZ","AA","GHIBLI","SL"]
},
{
title: "D10 yumes.shop & kyuutiekat_cafe",
url: "https://www.instagram.com/yumes.shop/",
image: "https://i.ibb.co/LnrVCxV/D10.jpg",
category: ["ALL","GI","ONK","SPYX","CSM","OG"]
},
{
title: "D11 Hamborgor",
url: "https://www.instagram.com/mystraex/",
image: "https://i.ibb.co/rfy4QYB/D11.jpg",
category: ["ALL","GI","HSR","SKY","BSD"]
},
{
title: "D12 Superb Comet",
url: "https://dokidokianimemarket.carrd.co/#d12",
image: "https://dokidokianimemarket.carrd.co/assets/images/image30.jpg",
category: ["ALL","HOLOLIVE"]
},
{
title: "D13 CurryNoodle Art",
url: "https://www.instagram.com/currynoodleart",
image: "https://dokidokianimemarket.carrd.co/assets/images/image12.jpg",
category: ["ALL","HOLOLIVE","HSR"]
},
{
title: "D14 Shinnnart",
url: "https://instagram.com/shinnnart",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HOLOLIVE","2J3J","GI","OG","VOCALOID"]
},
{
title: "D15 Krin",
url: "https://www.instagram.com/krinnnin/",
image: "https://i.ibb.co/FwkZCpb/D15.jpg",
category: ["ALL","ARKNIGHTS","GI","HSR","VTUBERS"]
},
{
title: "D16 Karasoba x Onibijutsu x Cipher",
url: "https://dokidokianimemarket.carrd.co/#c0a7",
image: "https://dokidokianimemarket.carrd.co/assets/images/image16.jpg",
category: ["ALL","JJK","HSR","R1999","CSM","VTUBERS"]
},
{
title: "D17 Micabuns",
url: "https://www.instagram.com/micabuns/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image22.jpg",
category: ["ALL","JJK","AOT","CSM","SNF","KNY"]
},
{
title: "D18 IXSERA",
url: "https://www.instagram.com/ixsera/",
image: "https://i.ibb.co/LghbLLv/D18.jpg",
category: ["ALL","OP","APD","SNF","ONK","OG","CCAW"]
},
{
title: "D19 Dokkyun!",
url: "https://dokidokianimemarket.carrd.co/#d19",
image: "https://i.ibb.co/Jdq9Cfy/D19.jpg",
category: ["ALL","GI","VALORANT","CSM","UMA","HSR","SPLATOON","LOZ","VTUBERS","PRSK","AOT","OG","MESHI","SPIDERMAN","CCAW","SNF","CCS"]
},
{
title: "D20 Phrog Pond",
url: "https://dokidokianimemarket.carrd.co/#d20",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG","MESHI","HSR"]
},
{
title: "D21 <2zuku",
url: "https://instagram.com/_2zuku",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL"]
},
{
title: "D22-D23 Artist Triangle",
url: "https://dokidokianimemarket.carrd.co/#c0a3",
image: "https://dokidokianimemarket.carrd.co/assets/images/image08.jpg",
category: ["ALL","TRFMR","HB","2J3J","HOLOLIVE","MESHI","GI","HSR","TRIGUN","ARKNIGHTS","VOCALOID","COOKIE","OG","IDV","FNAF"]
},
{
title: "D24 Fish Tank Boys",
url: "https://dokidokianimemarket.carrd.co/#d24",
image: "https://i.ibb.co/y4b331S/D24.jpg",
category: ["ALL","GI","JJBA","IDV","HSR","HADES","GOMENS","BSD","BG3","LINKCLICK","EVA","COOKIE","AC","OMORI","PKMN","SPIDERMAN"]
},
{
title: "D25 takomahou",
url: "https://dokidokianimemarket.carrd.co/#d25",
image: "https://i.ibb.co/VtbvQ18/D25.jpg",
category: ["ALL","PKMN","SPIDERMAN","GI","FATE"]
},
{
title: "D26 thebunmeo",
url: "https://www.instagram.com/thebunmeo",
image: "https://i.ibb.co/VLxs1D4/D26.jpg",
category: ["ALL","OG","GHIBLI"]
},
{
title: "D27 Labutori",
url: "https://www.instagram.com/Labutori",
image: "https://i.ibb.co/kQQTTc6/D27.jpg",
category: ["ALL","PKMN","OG"]
},
{
title: "D28 Mochigardens",
url: "https://www.instagram.com/mochigardens/",
image: "https://i.ibb.co/Z6dhG4W/D28.jpg",
category: ["ALL","OG","KIRBY","PKMN"]
},
{
title: "D29 Littlehecki",
url: "https://www.instagram.com/littlehecki/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","OG"]
},
{
title: "D30-D31 Kevin Panda",
url: "https://www.instagram.com/kevinpanda1234/ ",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","PKMN","VALORANT","HSR","GI","OG"]
},
{
title: "D32 Gattai Makers",
url: "https://www.facebook.com/gattaimakers",
image: "https://i.ibb.co/BVD98h2/D32.jpg",
category: ["ALL","RANGER"]
},
{
title: "D33 Nanaabananaa",
url: "https://instagram.com/nanaa_uwawa93",
image: "https://i.ibb.co/c6zvFn5/D33.jpg",
category: ["ALL","OG","HOLOLIVE","CSM","SPYX","GBF"]
},
{
title: "D34 Napyonz",
url: "https://www.instagram.com/napyonz",
image: "https://i.ibb.co/CPsC67s/D34.jpg",
category: ["ALL","OG","HOLOLIVE","SNF","BTRK","KIRBY","LOZ","SPYX"]
},
{
title: "E1 Myaoruki",
url: "https://www.instagram.com/myaoruki/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","JJK","OP","AOT","GI","HSR","2J3J","VTUBERS"]
},
{
title: "E2 Seraphon Studios",
url: "https://www.instagram.com/seraphonstudios",
image: "https://i.ibb.co/f4svpSP/E2.jpg",
category: ["ALL","GI","HSR","OG","JJK"]
},
{
title: "E3 711",
url: "https://www.instagram.com/e1_11ven",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","HOLOLIVE","ENSTARS","OG","VTUBERS"]
},
{
title: "E4 Shuith",
url: "https://www.instagram.com/shui_th/",
image: "https://i.ibb.co/LCn4WNx/E4.jpg",
category: ["ALL","PRSK","VOCALOID","GI","HSR","PKMN"]
},
{
title: "E5 Mimimura",
url: "https://dokidokianimemarket.carrd.co/#e5",
image: "https://i.ibb.co/pLf5GC2/E5.jpg",
category: ["ALL","GI","HSR","OG","GHIBLI","SNF","MESHI"]
},
{
title: "E6 KieirinArts",
url: "https://www.instagram.com/kieirinarts/",
image: "https://i.ibb.co/0qMzFtg/E6.jpg",
category: ["ALL","GI","HSR","PKMN"]
},
{
title: "E7 KikuRoman (Casty)",
url: "https://twitter.com/kasuti_illust",
image: "https://i.ibb.co/QvzWkgs/E7.jpg",
category: ["ALL","HOLOLIVE","OG","BA","SPYX","HSR","GI","ONK","MESHI","BTRK"]
},
{
title: "E8 Idyllic hive",
url: "https://www.instagram.com/idyllic_hive/",
image: "https://i.ibb.co/m9r66H7/E8.jpg",
category: ["ALL","PRSK","GI","HAIKYU"]
},
{
title: "E9 Chromel",
url: "https://www.instagram.com/chromelxd/",
image: "https://i.ibb.co/kgN22DX/E9.jpg",
category: ["ALL","OWHOUSE","KNY","SPYX","BSTR","LOZ"]
},
{
title: "E10 Keyade & Hashagi",
url: "https://dokidokianimemarket.carrd.co/#e10",
image: "https://i.ibb.co/Kz7Y2k2/E10.jpg",
category: ["ALL","GI","HSR","LOZ","FE","KIRBY","TRIGUN","OG"]
},
{
title: "E11 BABABA BANYANYA",
url: "https://dokidokianimemarket.carrd.co/#e11",
image: "https://i.ibb.co/dKs4JBq/E11.jpg",
category: ["ALL","VTUBERS","2J3J","GI","PKMN","HAIKYU","KNY","JJK","CCS","OG","APD"]
},
{
title: "E12 Lawliet Art ASSet",
url: "https://www.instagram.com/lawliet_liaw/",
image: "https://i.ibb.co/km4FX0z/E12.jpg",
category: ["ALL","ARKNIGHTS","NIKKE","GI","OG","HOLOLIVE","HSR"]
},
{
title: "E13 Kise",
url: "https://www.instagram.com/kise_t9",
image: "https://i.ibb.co/mGwndJY/E13.jpg",
category: ["ALL","BA","SNF","BTRK","ONK","UMA"]
},
{
title: "E14 LukrevaDraws",
url: "https://twitter.com/_LukrevaDraws",
image: "https://i.ibb.co/fYy6qC9/E14.jpg",
category: ["ALL","FFXIV","HSR"]
},
{
title: "E15 Twilichu",
url: "https://twilichu.carrd.co/",
image: "https://i.ibb.co/yhtWyyC/E15.jpg",
category: ["ALL","GI","HSR","BG3"]
},
{
title: "E16 Himazune",
url: "https://www.instagram.com/himazune/",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","2J3J","HSR","ENSTARS","GI","HEARTSTEEL","VTUBERS"]
},
{
title: "E17 ZENMETSU SAKUSEN",
url: "https://twitter.com/venatto",
image: "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
category: ["ALL","ARKNIGHTS"]
},
{
title: "E18 Irene Paramitha",
url: "https://www.instagram.com/ireneparamithaa",
image: "https://i.ibb.co/dQvggPj/E18.jpg",
category: ["ALL","GI","HSR","VTUBERS","ADVTIME","GHIBLI","HAIKYU","SNF","ORV","SPYX","JJK","PKMN"]
},
      {
        title: "(˶‾᷄ ⁻̫ ‾᷅˵)",
        url: "https://dokidokianimemarket.carrd.co/#c0a1",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","2J3J", "OMORI", "ORV", "PLAVE", "BLOCK", "NUCAR", "BSD", "TRIGUN", "IDV", "GI", "LCF"]
      },
      {
        title: "Babuland",
        url: "https://dokidokianimemarket.carrd.co/#c0a2",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","HSR", "GI", "ORV", "TOT"]
      },
      {
        title: "bbluebellies",
        url: "https://www.instagram.com/bbluebellies/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image09.jpg",
        category: ["ALL","OP", "GHIBLI", "GI", "JJK", "OG", "KNY", "HXH", "VALORANT", "CSM", "HSR"]
      },
      {
        title: "clown town down town",
        url: "https://clowntowndowntown.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image11.jpg",
        category: ["ALL","GI", "HSR", "JJK", "TRIGUN", "PHINEAS", "GRAVITYFALLS", "ADVTIME", "OWHOUSE"]
      },
      {
        title: "Daydreamer",
        url: "https://www.instagram.com/mandadadadada/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI", "HSR", "JJK"]
      },
      {
        title: "Feyi x Seventynone",
        url: "https://dokidokianimemarket.carrd.co/#c0a4",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image14.jpg",
        category: ["ALL","GI", "KNY", "BLOCK", "SHXTOU", "PARADOX LIVE", "2J3J", "TOT", "VOCALOID", "DRSTONE", "OG", "ONK", "HOB", "VNC", "BSD"]
      },
      {
        title: "heyjonut",
        url: "https://www.instagram.com/heyjonut",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG", "PKMN", "JJK", "GI", "HSR", "LOZ", "2J3J"]
      },
      {
        title: "Hira Icigocha",
        url: "https://www.instagram.com/15cha_hira",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image15.jpg",
        category: ["ALL","OG", "APEX", "DGRP"]
      },
      {
        title: "jaayes_",
        url: "https://www.instagram.com/jaayes_",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI"]
      },
      {
        title: "Jellysoup",
        url: "https://dokidokianimemarket.carrd.co/#c0a5",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG", "2J3J", "VTUBERS", "HSR", "GI", "OWHOUSE", "GRAVITYFALLS", "ADVTIME"]
      },
      {
        title: "kyamaruu",
        url: "https://kyamaruu.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image18.jpg",
        category: ["ALL","GI", "OG", "2J3J", "LOZ", "VOCALOID", "JJK", "CSM", "TADC"]
      },

      {
        title: "Leonie",
        url: "https://twitter.com/Leonie2814",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image20.jpg",
        category: ["ALL","GI", "HSR", "VOCALOID", "ORV"]
      },
      {
        title: "Littlehecki",
        url: "https://www.instagram.com/littlehecki/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG"]
      },
      {
        title: "Maple Chicken",
        url: "https://dokidokianimemarket.carrd.co/#c0a10",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI", "OG", "SLAM DUNK", "HSR", "ORV"]
      },
      {
        title: "miothle's atelier",
        url: "https://miothle.com/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image23.jpg",
        category: ["ALL","GI", "R1999", "HSR"]
      },
      {
        title: "MoriCreatives",
        url: "https://dokidokianimemarket.carrd.co/#c0a12",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image24.jpg",
        category: ["ALL","GI", "HSR", "2J3J", "ARKNIGHTS", "OG", "ORV", "ONK", "R1999"]
      },
      {
        title: "Nisemori",
        url: "https://www.instagram.com/nisemori_04/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image25.jpg",
        category: ["ALL","HOLOLIVE"]
      },
      {
        title: "No-Pain Cool-Stain",
        url: "https://instagram.com/nopain_coolstain",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG"]
      },
      {
        title: "Oishikunare",
        url: "https://dokidokianimemarket.carrd.co/#c0a13",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image26.jpg",
        category: ["ALL","BA", "HOLOLIVE", "AZUR", "GI", "HSR", "NIKKE", "OG"]
      },
      {
        title: "saltska",
        url: "https://heromix.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","FFXIV", "OG", "BG3"]
      },
      {
        title: "Sarah Thursday",
        url: "https://sarahthursday.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG"]
      },
      {
        title: "Sherms no Kamishibai Ya",
        url: "https://www.instagram.com/shermstan/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","OG"]
      },
      {
        title: "Shinnnart",
        url: "https://instagram.com/shinnnart",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","HOLOLIVE", "2J3J", "GI", "OG", "VOCALOID"]
      },
      {
        title: "Smashed Beans",
        url: "https://smashedbeans.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI", "HSR", "WHA", "PKMN", "AA", "NARUTO", "LOL", "JJK", "PLAVE"]
      },
      {
        title: "Soumeki",
        url: "https://www.instagram.com/sr_soumeki/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","HSR", "GI", "IDV", "TOT", "OG", "ENSTARS", "OP", "HAIKYU", "ORV", "SCLASS", "2J3J", "TRIGUN"]
      },
      {
        title: "SRKORK",
        url: "https://www.instagram.com/srkork/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","JJK", "GI", "SPIDERMAN", "OG", "CSM", "RE", "LOU"]
      },
      {
        title: "Tea&Buns",
        url: "https://portaly.cc/tea_n_buns",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI", "HSR"]
      },
      {
        title: "The Sparkling Water",
        url: "https://dokidokianimemarket.carrd.co/#c0a17",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","HSR", "GI", "OG"]
      },
      {
        title: "TOYFATT",
        url: "https://dokidokianimemarket.carrd.co/#c0a18",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","GI", "ARKNIGHTS", "NIKKE", "BA", "PKMN"]
      },
      {
        title: "Twilichu",
        url: "https://twilichu.carrd.co/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image32.jpg",
        category: ["ALL","GI", "HSR", "BG3"]
      },
      {
        title: "ursa.union",
        url: "https://dokidokianimemarket.carrd.co/#c0a19",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image04.jpg",
        category: ["ALL","HOLOLIVE", "2J3J", "VALORANT", "GI", "VTUBERS"]
      },
      {
        title: "WWfanart",
        url: "https://dokidokianimemarket.carrd.co/#c0a20",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image05.jpg",
        category: ["ALL","BLOCK", "JJK", "HAIKYU", "BSD", "JJBA"]
      },
      {
        title: "Xeph's Artworks",
        url: "https://www.pixiv.net/en/users/110174",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL","BA", "SNF", "BTRK", "HSR", "GI"]
      },
      {
        title: "Xuanllli",
        url: "https://xuanllli.wixsite.com/xuanllli/",
        image:
          "https://dokidokianimemarket.carrd.co/assets/images/image07.jpg?v=e7aeb2d2",
        category: ["ALL",]
      },
    ]
  },

  computed: {
    filteredAndSearched: function () {
      return this.projects.filter((project) => {
        // optional to have console.log
        console.log("this.currentFilter", this.currentFilter);
        return (
          project.title.toLowerCase().includes(this.search.toLowerCase()) &&
          project.category.indexOf(this.currentFilter) !== -1
        );
      });
    }
  },

  methods: {
    setFilter: function (project) {
      this.currentFilter = project;
    }
  }
});

</script>